.btn {
  display: inline-block;
  border: 0;
  border-radius: 50px;
  outline: none;
  cursor: pointer;

  &-reset {
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-radius: 6px;
    text-transform: uppercase;
    background: color(primary, skobeloff);
    color: color(disabled, white);
    transition: background 250ms ease;

    &--active {
      background: color(primary, sea-green);
      color: color(primary, jungle-green);

      &:hover {
        background: color(primary, crystal-green);
      }
    }
  }
}
